{% extends 'main.html' %}

{% block content %}

<!-- When adding new arduino and redirecting here -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{ messages | safe }}");
</script>
{% endif %}
{% endwith %}

<div id="content" class="row justify-content-md-center" style="margin-top: 20px;">
    <ul class="list-group">

        <p class="h2">List of registered sensors</p>

        {% for sensor in lista %}
        <li class="list-group-item align-items-center">ID: <a href=manage/{{sensor.id}}>
                {{sensor.id}}</a>, Window Open: {{sensor.status}}</li>
        {% endfor %}

    </ul>

</div>
{% endblock %}
