{% extends 'main.html' %}

{% block content %}
<!-- QR Code -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
    integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
    crossorigin="anonymous"></script>

<style>
    .qrcode-container {
        text-align: center;
        width: 128px;
        height: 128px;
        margin: 0 auto;
    }
</style>
<div id="content" style="margin-top: 5%;">
    <table class="table table-hover table-striped table-bordered w3-centered"
        style="border: 1px; margin-left: 25%; margin-right: 10%;max-width:50%;padding-top: 20px;">
        <tr>
            <td>
                <div class="w3-center">
                    <p style="font-weight: bold;">ID</p>
                </div>
            </td>
            <td>
                <div class="w3-center">
                    <p>{{info.id}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="w3-center">
                    <p style="font-weight: bold;">Pollution Value</p>
                </div>
            </td>
            <td>
                <div class="w3-center">
                    <p>{{info.pollution}}</p>
                </div>
            </td>
        </tr>
        <tr>
            {% if info.status == 0 %}

            <td>
                <div class="w3-center">
                    <p style="font-weight: bold;">Window Status</p>
                </div>
            </td>
            <td>
                <div class="w3-center">
                    <p style="color: red;font-weight: bold;">Closed</p>
                </div>

                <div class="w3-padding-16"><button class="btn btn-primary w3-centered" id="post-btn"> Open
                        Window</button>
                </div>
            </td>

            {% else %}

            <td>
                <div class="w3-center">
                    <p style="font-weight: bold;">Window Status</p>
                </div>
            </td>
            <td>
                <div class="w3-center">
                    <p style="color: green;font-weight: bold;">Open</p>
                </div>
                <div class="w3-padding-16"><button class="btn btn-primary w3-centered" id="post-btn"> Close
                        Window</button>

            </td>

            {%endif%}

        </tr>
    </table>

    <table class="center">
        <td style="padding: 20px;">
            <div class="w3-padding-16 w3-center"> <button class="btn btn-primary w3-centered"
                    onClick="window.location.reload();">
                    Refresh status</button></div>
        </td>
        <td style="padding: 20px;">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Show QR Code
            </button>

        </td>
        <td style="padding: 20px;">
            <button type="button" class="btn btn-danger" id="remove-arduino">Remove Arduino</button>
        </td>
    </table>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">QR Code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="qrcode-container">
                    <div class="qrcode" id="qrcode"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="stat" value="{{ info.status }}">

<script type="text/javascript">
    const button = document.getElementById('post-btn');
    const remove_button = document.getElementById('remove-arduino')

    var status = document.querySelector('#stat').value
    var command = (status == 'False')

    var this_path = window.location.href
    var base_url = window.location.origin

    var uuid = this_path.substring(this_path.lastIndexOf('/') + 1);

    var qrc = new QRCode(document.getElementById("qrcode"), {
        width: 128,
        height: 128
    });

    qrc.makeCode(uuid)

    button.addEventListener('click', async _ => {
        try {
            const response = await fetch(this_path, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "status": command
                })
            });
            console.log('status val:', status, command);
            console.log('Completed!', response);
            if (response.ok) {
                alert("Request sent succesfully");
            } else {
                alert("Request failed")
            }
        } catch (err) {
            console.error(`Error: ${err}`);
        }


    });
    remove_button.addEventListener('click', async _ => {
        try {
            const response = await fetch(base_url + '/api/v1/sensor/remove?uuid=' + uuid);
            if (response.ok) {
                alert("Arduino removed");
                window.location.replace(base_url + '/list');
            } else {
                alert("Request failed")
            }
        } catch (err) {
            console.error(`Error: ${err}`);
        }
    });


</script>

{% endblock %}
