{% extends 'main.html' %}

{% block content %}
<!-- QR Code -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
    integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
    crossorigin="anonymous"></script>

<!-- MQTT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.js"
    integrity="sha512-p8OrcnawEEpEiY7S96nMeaShY5AMcdRFYgnaR0ZmOgMSgL9pLNE4x5+MB0FTol7GeJGzEd9m4MAmmD8urOscvQ=="
    crossorigin="anonymous"></script>
<!-- Requirejs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
    integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg=="
    crossorigin="anonymous"></script>

<style>
    .qrcode-container {
        text-align: center;
        width: 128px;
        height: 128px;
        margin: 0 auto;
    }
</style>
<div class="card row justify-content-md-center mx-auto" style="width: 70%;margin-top: 20px;">
    <div class="card-header">
        Arduino Status
    </div>
    <div class="card-body">
        <div id="content">
            <table class="table table-hover table-striped table-bordered w3-centered">
                <tr>
                    <td>
                        <p style="font-weight: bold;">ID</p>
                    </td>
                    <td>
                        <p>{{ info.id }}</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">
                        <p style="font-weight: bold;">Pollution Value</p>
                    </td>
                    <td>
                        <p>{{ info.pollution }}</p>
                    </td>
                </tr>
                <tr>
                    {% if info.status == 0 %}

                    <td style="vertical-align: middle;">
                        <div class="w3-center">
                            <p style="font-weight: bold;">Window Status</p>
                        </div>
                    </td>
                    <td>
                        <div class="w3-center">
                            <p style="color: red;font-weight: bold;">Closed</p>
                        </div>

                        <div class="w3-padding-16"><button class="btn btn-primary w3-centered" id="post-btn"> Open
                                Window</button>
                        </div>
                    </td>

                    {% else %}

                    <td style="vertical-align: middle;">
                        <div class="w3-center">
                            <p style="font-weight: bold;">Window Status</p>
                        </div>
                    </td>
                    <td>
                        <div class="w3-center">
                            <p style="color: green;font-weight: bold;">Open</p>
                        </div>
                        <div class="w3-padding-16"><button class="btn btn-primary w3-centered" id="post-btn"> Close
                                Window</button>

                    </td>

                    {% endif %}

                </tr>
            </table>
            <div class="card-footer bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" onClick="window.location.reload();">
                                Refresh status</button>
                        </div>
                        <div class="col">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">
                                Show QR Code
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger" id="remove-arduino">Remove Arduino</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">QR Code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="qrcode-container">
                    <div class="qrcode" id="qrcode"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="stat" value="{{ info.status }}">

<!-- Manage Arduino Script -->
<script src="{{ url_for('static', filename='manage_arduino.js')}}" type="text/javascript"></script>
{% endblock %}
